.container {
	.row {
		.col-md-12 {
			.header_underneath {
				height: 80px !important;
			}
		}
		table {
			width: 100%;
			tr {
				th {
					text-align: center;
					letter-spacing: 8px;
					font-size: 40px;
					text-transform: capitalize;
					padding: 20px 0px;
					font-family: 'Cormorant Garamond', serif;
				}
				td {
					text-align: center;
					width: 60%;
					font-size: 20px;
					color: #353738;
					font-weight: 400px;
					font-family: 'Cormorant Garamond', serif;
				}
			}
		}
		.table {
			margin-top: 20px;
			tr {
				th {
					border-top: 0px solid #ddd !important;
				}
			}
		}
	}
}