*{
	padding: 0px;
	margin: 0px;
}
.banner-img{
	background-image: url(../images/faq.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 400px;
}
.banner-wrap{
	height: 400px;
	padding-top: 50px;
}
.ask{
	font-size:30px;
	text-align: center;
	font-family: Museo;
	text-transform: capitalize;
}
.askk{
	margin-top: 40px;
}
.center{
	text-align: center !important;
	font-family: Museo;
	font-weight: bold;
	font-size: 20px;
}
.center1{
		margin-top: 20px;
		font-size: 20px;
		font-family: Museo;
}