footer {
	height: auto;
	&:hover {
		.banner_wrapper1 {
			display: block;
		}
	}
}

.banner_wrapper1{
	height: 300px;
	display: none;
	.banner_img1{
		background-image: url(../images/Contact.jpg);
		background-repeat: no-repeat;
		background-size:100% auto;
		height: 300px;
	}
}